.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #07defa; 
    padding: clamp(1rem, 2vw, 2rem);
        
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 95px;
    height: 95px;
    margin-right: 10px;
}

.logo h1{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #070000;
}


.menu{
    display: flex;
    gap: 35px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    position: relative;
}

.menu li a{
    text-decoration: none;
    color: #050505; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 8px;
}

.menu li a:hover{
    color: #ebe9e9;
}


.submenu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
}

.submenu ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: black;
}

.submenu ul li a img{
    width: 20px;
    height: 20px;
}

.submenu:hover ul{
    display: block; 
}

.titulo{
    color: #07defa;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .menu li a {
        font-size: 18px;
        padding: 10px 0;
    }

    .submenu ul {
        position: static;
        box-shadow: none;
        border: none;
    }
}
