.pres-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}



.heading-pres {
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 3px;
    text-align: center;
    color: #010000;
    bottom: 10rem;
    padding: 20px 0 20px 0;
    margin-top: 10px;


}

.heading-pres::after {

    width: 10rem;
    height: .8rem;
    background-color: #0b7994;
    position: absolute;
    bottom: 60rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.card-wrapper1 {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

}

.card1 {
    width: 30rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);


}

.card1 .card-img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0 84%);
}

.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -7rem;
    z-index: 999;
    border: 1rem solid #eef8eb;
}

.card1 h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem;
}

.job-title {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}

.about {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.card1 .botones {
    padding: 1rem 2.5rem;
    background-color: #2679de;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}

.card1 .botones:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.1);
}

.card1 .botones:active {
    transform: translateY(0);
    box-shadow: none;
}

@media (max-width: 768px) {
  .pres-container {
    grid-template-columns: 1fr; /* Cambia de 2 columnas a 1 */
    padding: 5px;
  }
  }