   .carrusel {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 30px;
     margin-bottom: 50px;
   }

   .servi {
     text-align: center;
     font-size: 2rem;
     margin-bottom: 20px;
     color: #333;
     font-weight: bold;
   }

   .carrusel-container {
     position: relative;
     width: 100%;
     height: 350px;
     perspective: 1000px;
     display: flex;
     justify-content: center;
     align-items: center;
   }


   .carrusel-item {
     position: absolute;
     width: 50%;
     height: 80%;
     transition: all 0.5s ease;
     background-color: #f9f9f9;
     border-radius: 12px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
     text-align: center;
     padding: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     opacity: 1;
     transform: scale(0.8);

   }

   .carrusel-item img {
     width: 100%;
     height: auto;
     max-width: 250px;
     margin-bottom: 8px;
     border-radius: 10px;
   }

   .carrusel-item p {
     font-size: 1.2rem;
     color: #555;
     margin: 0;
   }

   #prev,
   #next {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     padding: 12px 25px;
     background: #333;
     background-color: #4CAF50;
     color: white;
     border: 2px solid #4CAF50;
     border-radius: 30px;
     cursor: pointer;
     transition: all 0.3s ease;
     font-weight: bold;
     z-index: 10;
     font-size: 1rem
   }

   #prev:hover,
   #next:hover {
     background-color: #e9e2e2;
     color: black;
   }

   #prev {
     left: 120px;
   }

   #next {
     right: 120px;
   }

   .boton-carrusel {
     display: inline-block;
     padding: 2px 6px;
     margin-top: 5px;
     font-size: 1rem;
     background-color: #008CBA;
     color: white;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     transition: background-color 0.3s ease;
     text-align: center;
   }

   .boton-carrusel:hover {
     background-color: #07090a;
   }

   .boton-carrusel:focus {
     outline: none;
   }