h1 {
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
    color: royalblue;
}

.sombra {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    max-width: 1400px;
    margin: 5rem auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #333;
    line-height: 1.6;
}

p {
    text-align: center;
    font-size: 18px;
}

.momentos {
    align-items: flex-end;
    color: rgb(33, 50, 149);
    font-size: 2rem;
}

.grid-container-retrato {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 10px;
}

/* From Uiverse.io by janisar-hyder */ 
img {
  display: block;
  max-width: 60%;
}

.stack {
  width: 55%;
  max-width: 400px;
  transition: 0.25s ease;
  &:hover {
    transform: rotate(5deg);
    .card:before {
      transform: translatey(-2%) rotate(-4deg);
    }
    .card:after {
      transform: translatey(2%) rotate(4deg);
    }
  }
}

.card {
  aspect-ratio: 3 / 2;
  border: 4px solid;
  background-color: #fff;
  position: relative;
  transition: 0.15s ease;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid;
    background-color: #fff;
    transform-origin: center center;
    z-index: -1;
    transition: 0.15s ease;
    top: 0;
    left: 0;
  }

  &:before {
    transform: translatey(-2%) rotate(-6deg);
  }

  &:after {
    transform: translatey(2%) rotate(6deg);
  }
}
.image {
  width: 100%;
  height: 100%;
  border: 4px solid;
  background-color: #eee;
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.browser-warning {
  margin-bottom: 4rem;
}

@supports (aspect-ratio: 1 / 1) {
  .browser-warning {
    display: none;
  }
}
.retrato{
    width: 100%;
    height: 100%;
    object-fit: cover;
}